@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@400&display=swap');

body{
    font-family: Arial, sans-serif;
    margin: 0; /*remove margem do navegador*/
    padding: 40px; /* espaço interno ao redor do conteudo */
}

#produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* responsividade: cada card pode ter no minimo 250px */
    gap: 20px; /* espaço entre os cards */
}

#produtos div{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; /* bordas arredondadas */
}

#busca {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    box-sizing: border-box; /* faz a largura de 300px incluir o padding e a borda*/
    transition: 0.2s;
}

#busca:focus {
    outline: none;
    border-color: #888;
}

.card{
    padding: 200px;
    border: 1px solid grey;
    border-radius: 12px;
}

.card img{
    height: 250px;
    width: 100%;
    object-fit: contain; /* mostra a imagem inteira e sem deformar */
}

.preco{
    font-size: 20px; /* tamanho */
    font-weight: bold; /* negrito */
}

.info{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.sem-produtos {
    text-align: center;
    margin: 40px auto;
    padding: 50px;
    width: 500px;
    box-sizing: border-box;
}

.sem-produtos img {
    width: 180px;
    display: block;
    margin: 0 auto 20px; /* 0 em cima, 20px embaixo */
}

.sem-produtos h2 {
    margin-bottom: 8px;
}

.sem-produtos p {
    margin-top: 0; /*  */
}

.categoria{
    font-family: Arial, sans-serif; /* fonte */
    font-size: 16px; /* tamanho da fonte */
    font-weight: bold; 
    padding: 10px 18px; /* cria espaço dentro do botão */
    border: 1px solid #ddd;
    border-radius: 20px; 
    background-color: white;
    cursor: pointer; /* adiciona cursor de clique quando passar o mouse */
    transition: 0.2s; /* adiciona suavidade a transição */
    margin: 20px 0; /* 20 em cima e embaixo */
}

.categoria:hover{
    transform: translateY(-2px); /* faz o botão subir 2px */
}

.categoria.ativo{
    background-color: rgb(214, 14, 14);
    color: white;
}

h1 {
    font-family: "Bitcount Grid Double", cursive;
    font-size: 62px;
    font-weight: 400;
    text-align: center;
    color: rgb(214, 14, 14);
    
    margin-bottom: 20px;
}